# Git
.git

# Python
__pycache__
*.pyc
*.pyo
lab-venv/
.venv/
venv_py310/
venv/
*.egg-info/

# Data (not for deployment)
data/raw/
data/processed/

# Experiments
experiments/
signals/

# Docs & IDE
notebooks/
reports/
*.md
.idea/
.vscode/
.DS_Store

# Archive
deploy/archive/
